<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="goofy2.swably.zh"
      android:versionName="1.95" android:versionCode="1950">
 	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="15"/>
    <application android:name=".ApplicationZh" android:icon="@drawable/icon" android:label="@string/app_name"  android:theme="@style/defaultActivity">
        <activity android:name="goofy2.swably.About" android:theme="@style/defaultDialog" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.AddApp" android:theme="@style/SelectLocalAppsActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
	    </activity>
        <activity android:name="goofy2.swably.AddTag" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.AddWatcher" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.App" android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="@string/host1"
				      android:pathPattern="/a/.*"/>
	        </intent-filter> 
        </activity>
        <activity android:name="goofy2.swably.AppAbout" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
        <activity android:name="goofy2.swably.Apps" android:screenOrientation="portrait">
			<meta-data android:name="android.app.default_searchable"
	            android:value="goofy2.swably.SearchApps" />
        </activity>
        <activity android:name="goofy2.swably.AppHistory" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
        <activity android:name="goofy2.swably.AppTags" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
        <activity android:name="goofy2.swably.AppUploaders" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
        <activity android:name="goofy2.swably.Claiming" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.Cover" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:screenOrientation="portrait"/>
   	    <activity android:name="goofy2.swably.DownloadingApp" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
        <activity android:name="goofy2.swably.Feeds" android:screenOrientation="portrait"/>
   	    <activity android:name="goofy2.swably.FindPeople" android:screenOrientation="portrait"  >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/app_name" android:host="@string/host1"
				      android:path="/friend" />
	        </intent-filter>
	    </activity>
	    <activity android:name="goofy2.swably.GuideInviteSnsFriends" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
	    <activity android:name="goofy2.swably.GuideInviteContacts" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
	    <activity android:name="goofy2.swably.GuideInvite" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
	    <activity android:name="goofy2.swably.GuideLocalApps" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
	    <activity android:name="goofy2.swably.GuideRecommendUsers" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
	    <activity android:name="goofy2.swably.GuideSnsFriends" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
        <activity android:name="goofy2.swably.GuideTerms" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.HelpRequests" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.Home" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.Invite" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.InviteContacts" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.InviteSnsFriends" android:screenOrientation="portrait"/>
   	   	<activity android:name="goofy2.swably.LocalApps" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.LocalSignin" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.Main" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/app_name" android:host="@string/host1"
				      android:path="/signin" />
	        </intent-filter>
        </activity>
        <activity android:name="goofy2.swably.Me" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.MyFollowingReviews" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.MyReviews" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.OAuthSignin" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="goofy2.swably.People" android:screenOrientation="portrait">
			<meta-data android:name="android.app.default_searchable"
	            android:value="goofy2.swably.SearchUsers" />
        </activity>
	    <activity android:name="goofy2.swably.PostReview" android:screenOrientation="portrait"  >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/app_name" android:host="@string/host1"
				      android:path="/sync" />
	        </intent-filter>
		</activity>
	    <activity android:name="goofy2.swably.PublicReviews" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.RecommendSwably" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.ReviewProfile" android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="@string/host1"
				      android:pathPattern="/r/.*"/>
	        </intent-filter>
	    </activity>
	    <activity android:name="goofy2.swably.SearchApps" android:launchMode="singleTop" android:screenOrientation="portrait" >
	        <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable"
	                   android:resource="@xml/search_apps"/>
	    </activity>
	    <activity android:name="goofy2.swably.SearchApps2Add" android:launchMode="singleTop" android:screenOrientation="portrait" >
	        <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable"
	                   android:resource="@xml/search_apps"/>
	    </activity>
	    <activity android:name="goofy2.swably.SearchUsers" android:launchMode="singleTop" android:screenOrientation="portrait" >
	        <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable"
	                   android:resource="@xml/search_users"/>
	    </activity>
        <activity android:name="goofy2.swably.SearchWatcher" android:launchMode="singleTop" android:screenOrientation="portrait">
	        <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable"
	                   android:resource="@xml/search_users"/>
        </activity>
	    <activity android:name="goofy2.swably.SelectLocalAppToReview" android:theme="@style/SelectLocalAppsActivity" android:screenOrientation="portrait">
	    </activity>
        <activity android:name="goofy2.swably.SelectLocalAppToPick" android:theme="@style/PickLocalAppsActivity" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.Settings" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.ShareActivity" android:theme="@style/defaultDialog" />
        <activity android:name=".SharePrivateActivity" android:theme="@style/defaultDialog" />
        <activity android:name=".SharePublicActivity" android:theme="@style/defaultDialog" />
	    <activity android:name="goofy2.swably.SharingPosts" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.SignedIn" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.SnsFriends" android:screenOrientation="portrait"/>
        <activity android:name=".Start" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.Suggestions" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.TagApps" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.Terms" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.UploadApp" android:screenOrientation="portrait"/>
        <activity android:name="goofy2.swably.UploadingApp" android:screenOrientation="portrait" android:theme="@style/defaultActivity.faceInOut"/>
	    <activity android:name="goofy2.swably.User" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="@string/host1"
				      android:pathPattern="/u/.*"/>
	        </intent-filter> 
	    </activity>
	    <activity android:name="goofy2.swably.UserClaimedApps" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.UserFollowers" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.UserFollowing" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.UserStarredApps" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.UserStarredPosts" android:screenOrientation="portrait"/>
	    <activity android:name="goofy2.swably.UserUploadedApps" android:screenOrientation="portrait"/>
	    	    	    
		<receiver android:name="goofy2.swably.Booter">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED"></action>
		    </intent-filter>
		</receiver>
	    <service android:name="goofy2.swably.Checker" android:enabled="true"></service>
	    <service android:name="goofy2.swably.Downloader" android:enabled="true" ></service>
    	<service android:name="goofy2.swably.DownloaderEx" android:enabled="true" ></service>
	    <service android:name="goofy2.swably.Uploader" android:enabled="true" ></service>
    	<service android:name="goofy2.swably.UploaderEx" android:enabled="true" ></service>
	
		<receiver android:name="goofy2.swably.LocalAppRefresher">
		    <intent-filter>
		        <action android:name="android.intent.action.PACKAGE_ADDED" />
		        <action android:name="android.intent.action.PACKAGE_REMOVED" />
		        <action android:name="android.intent.action.PACKAGE_REPLACED" />
		        <data android:scheme="package" />
		    </intent-filter>
		</receiver>
		
        <activity android:name="com.tencent.weibo.sdk.android.component.Authorize" />
				
		
	</application>

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!-- 	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
	<uses-permission android:name="android.permission.READ_CONTACTS" />
    <supports-screens android:smallScreens="true" 
    				  android:normalScreens="true" 
                      android:largeScreens="true" 
                      android:anyDensity="true" />

</manifest> 